body {
    font-family: sans serif;
}

#events {
    font-family: monospace;
    font-size: 10pt;
}

#events > p {
    margin: 0;
}

.warn {
    background-color: #ffeedd;
    color: #aa5500;
}

.info {
    background-color: #ddffdd;
    color: #00aa00;
}

.log {
    background-color: #ddddff;
    color: #0000aa;
}

.error {
    background-color: #ffdddd;
    color: #aa0000;
    font-weight: bold;
}

.exception {
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
}
